

:root {
    --primary-color:   #FB8500;
    --secondary-color: #FFB703;
    --accent1-color:   #023047;
    --accent2-color:   #219EBC;
    --accent3-color:   #8ECAE6;

    --heading-font: "Racing Sans One", serif;;
    --text-font: "Montserrat", serif;


}

body { 
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--accent1-color);
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

/*Links*/
a{
    text-decoration: none;
    color: gray;
    float: right;
}
header nav{
    position:absolute;
    top: 50px;
    right: 100px;
}

/*Logo*/
img {
    width: 135px;
    height: auto;
    position:relative;
}

/*main*/
.hero img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.9;
}

div {
    position: relative;

}

div h1{
    font-family: var(--heading-font);
    font-weight: 100;
    font-size: 80px;
    color: var(--primary-color);
    width: 100%;
    position: absolute;
    display:block;
    text-align: center;
    height: 15%;
    top: 0;
    padding: 10 0px;
    top: -28px;
    background-color: var(--accent3-color);
    text-shadow: 2px 2px 2px #023047;
    opacity: 0.8;
}

div article{
    position:absolute;
    background-color: var(--accent3-color);
    opacity: 0.8;

}

article img{
    float:right;

}

