

:root {
    --primary-color:   #FB8500;
    --secondary-color: #FFB703;
    --accent1-color:   #023047;
    --accent2-color:   #219EBC;
    --accent3-color:   #8ECAE6;

    --heading-font: "Racing Sans One", serif;;
    --text-font: "Montserrat", serif;


}

body { 
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--accent1-color);
    width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

/*Links*/
a{
    text-decoration: none;
    color: gray;
    float: right;
}
header nav{
    position:absolute;
    top: 50px;
    right: 100px;
}

/*Logo*/
img {
    width: 135px;
    height: auto;
    position:relative;
}

/*main*/
.hero img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.9;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 100;
    color: var(--accent2-color);
}

div {
    position: relative;

}

div h1{
    position: absolute;

}

div article{
    position:absolute;
    background-color: var(--accent3-color);
    opacity: 0.8;

}

article img{
    float:right;

}

