

:root {
    --primary-color:   #FB8500;
    --secondary-color: #FFB703;
    --accent1-color:   #023047;
    --accent2-color:   #219EBC;
    --accent3-color:   #8ecae6;

    --heading-font: "Racing Sans One", serif;;
    --text-font: "Montserrat", serif;


}

body { 
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--accent1-color);
    margin: 0 auto;
    padding: 0 auto;
    margin: 0px 50px 10px 50px;
}

/* Header */
header {
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    border-left: 1px solid var(--accent3-color);
    border-right: 1px solid var(--accent3-color);
    background-color: #8ecae666;
}

header h1{
    font-family: var(--heading-font);
    font-weight: 100;
    font-size: 70px;
    color: var(--primary-color);
    width: 100%;
    text-align: left;
    padding-left: 20px;
    text-shadow: 10px 10px 10px  #03c4ff70;
}

/*Links*/
header a{
    text-decoration: none;
    color: var(--primary-color);
    margin: 10px;
    align-self: center;
    padding: 10px;
    justify-content: space-around;

}

header nav{
    align-items: center;
    display: flex;
    padding-right: 20px;
}

/*Logo*/
header img {
    width: 185px;
    height: auto;

}

/*main*/

main {
    display: grid;
}

div img{
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
}

div {
    position: relative;

}

.hero h2{
    font-family: var(--heading-font);
    font-weight: 90;
    font-size: 50px;
    color: var(--accent1-color);
    width: 100%;
    position: absolute;
    display:block;
    text-align: center;
    height: 10%;
    top: 15px;
    padding: 10px 0px;
    background-color: var(--accent3-color);
    margin-top: 15px;
}


article{
    position: relative;
}

article img{
    position: absolute; 
    height: auto;
    width: 175px;
    left: 897px;
    top: -511px;
    display: block;
    border: 25px var(--accent3-color);
    z-index: 3;
    border: 4px solid white;
}

article p{
    position: absolute;
    background-color: var(--accent3-color);
    display: inline-block;
    width: 500px;
    left: 160px;
    top: -730px;
    padding: 20px 230px 40px 20px;
    text-align: left;
    margin: 200px;
    color: var(--accent1-color);
    z-index: 2;
    text-shadow: 1px 1px 1px white;
    border-radius: 10px;
}




section{
    margin-top: 0px;
    margin-bottom: 0px;
    display:grid;
}



/*section class="text"*/
.history {
    text-align: center;
    grid-column: 1/4;
    display: grid;
    font-size: large;
}

.box{
    padding: 0;
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;


}

.item_for_history{
    padding: 1px 10px;
    width: 100%;


}

.right{
    padding: 0px 20px 0px 80px;
}

.left{
    padding: 0px 80px 40px 20px;
}

.logoimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150%;
    height: auto;
    padding-bottom: 80px;
}

/* opacity background*/
.item_for_history::before{
    content:"";
    position:absolute;
    inset:0;
    background-color: var(--accent3-color);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.5;
}

.history::before{
    content:"";
    position:absolute;
    inset:0;
    background-color: var(--accent3-color);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.5;
}

/* section class adventures*/
.adventures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.title{
    text-align: center;
    font-size: large;
    padding: 20px;
    grid-column: 1/6;
}

.galerie{
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 0px;
    column-gap: 20px;
    margin-bottom: 60px;
    padding-left: 60px;

}

.image-box{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: auto;
    padding: 5px;
    margin: auto;
  }
  
  .image-box figcaption{
    font-size: medium;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
  
  }
  
  .image-box img{
    width: 220px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  
  }


/*Footer*/
.footer{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}

footer p{
    text-align: center;
    justify-content: center;
    grid-column: 1/4;
    padding-left: 220px;

}

footer nav{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;

}

nav img{
    width: 25px;
    height: auto;
    margin: 3px;

}

/*backgroun footer*/
.footer::before{
    content:"";
    position:absolute;
    inset:0;
    background-color: var(--accent3-color);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.5;
}



/*Contact Page*/
.contactpage{
    background-color: #f8a03c4e;
    border-radius: 10px;
}

.contactus h2{
    font-family: var(--heading-font);
    font-weight: 100;
    font-size: 50px;
    color: var(--accent1-color);
    width: 100%;
    text-align: center;
    height: auto;
    padding: 10px 0px;
    background-color: var(--accent3-color);
    margin-top: 15px;
}

.contactus h3{
    font-size: medium;
    color: var(--accent2-color);
    padding-bottom: 20px;
}

address{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

.addresstext{
    border-left: 3px solid #c47424;
    background-color: #e6b68eaa;
    padding-left: 15px ;
    padding-right: 70px;
    padding-bottom: 40px;
}

.gradeofemployers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.happyemployers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    margin-top: 50px;
    align-items: center;
    grid-area: 1/2;
}

.employers{
    display: grid;
    width: 230px;
    height: auto;
    padding: 5px;
    margin: auto;

}

.employers figcaption{
    font-size: medium;
    font-weight: 500;
    margin-top: 5px;
    justify-self: center;
    
  }

  .employers img{
    width: 220px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
  }

/* Contact Form*/
.contactform{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background-color: rgba(180, 138, 87, 0.329);
    margin-bottom: 10px;
}


form{
    padding: 20px;
}

legend{
    font-size: medium;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.name, .email{
    padding: 3px;
    font-size: small;
    margin-top: -15px;
}

.name input, .email input{
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid var(--accent1-color);
    border-color: #b47857d6;
}

.email{
    margin-top: -70px;
    margin-bottom: -5px;
}

.purpose p{
    margin-top: -28px;
    margin-bottom: 5px;
}
.purpose label{
    font-size: small;
}
.purpose{
    margin-bottom: 13px;
}

textarea{
    margin-top: -10px;
    width: 100%;
    border-radius: 5px;
    border-color: #b47957d6;
    margin-bottom: 20px;
}

.newsletter{
    margin: 10px;
    margin-bottom: 15px;
    font-size: small;
}

.buttonstyle{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    background-color:  rgba(180, 127, 87, 0.489);
    padding: 3px;
    color: var(--accent1-color);
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Home Page*/

.hero h3{
    display: block;
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-shadow: 1px 1px 1px rgb(255, 255, 0);
    padding: 30px;
    top: 90px;
    left: 240px;
    width: 60%;
    text-align: center;
    border-radius: 100px;
}

.bestplaces{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.titleplace h4{
    margin-top: -90px;
    font-size: 50px;
    text-align: center;
}
.titleplace p{
    font-size: 20px;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 20px;
    width: 70%;
    margin-left: 15%;
}

.title h5{
    font-size: larger;
    text-align: center;
    grid-column: 1/3;
}
.galerie1{
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 0px;
    column-gap: 20px;
    margin-bottom: 60px;
    padding-left: 30px;

}

.image-box1{
    height: auto;
    padding: 5px;
    width: 100%;
    align-items: center;
  }
  
  .image-box1 figcaption{
    font-size: medium;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
    margin-left: -25px;
  
  }
  
  .image-box1 img{
    width: 556px;
    height: 397px;
    border-radius: 10px;
    padding-bottom: 10px;
  
  }

  .adventures2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 370px;
}

.galerie2{
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 0px;
    column-gap: 20px;
    margin-bottom: 60px;
    padding-left: 60px;

}

.image-box2{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: auto;
    padding: 5px;
    margin: auto;
  }
  
  .image-box2 figcaption{
    font-size: medium;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
  
  }
  
  .image-box2 img{
    width: 220px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  
  }

  .toaction{ 
    display: grid;
    justify-content: center;
  }
  .toaction p{
    font-size: 20px;
    text-align: center;
  }
  .toaction a{
    text-decoration: none;
    color: var(--accent1-color);
    font-size: 20px;
    margin-top: -20px;
    justify-items: center;
    margin-bottom: 30px;
  }

  /*Trip page*/
.tripspage{
    background-color: #219dbc45;

}

.tripimg{
    height: 250px;
    margin-bottom: -100px;
}

.hero2 h2{
    font-family: var(--heading-font);
    font-weight: 90;
    font-size: 50px;
    color: var(--accent1-color);
    width: 100%;
    position: absolute;
    display:block;
    text-align: center;
    height: 45%;
    top: 15px;
    padding: 10px 0px;
    background-color: var(--accent3-color);
    margin-top: 15px;
}

  .calltoaction{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;

  }
  .calltoaction h3{
    font-size: 30px;
    text-align: center;
    grid-column: 1;
  }
  .calltoaction p{
    grid-column: 1;
    text-align: center;
    font-size: 18px;
    margin-top: -15px;
    margin-bottom: 4px
  }
  .calltoaction img{
    grid-column: 1;
    width: 650px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 340px;
    padding-top: 20px;
  }
  .backgroundtoaction a{
    grid-column: 1;
    text-align: center;
    padding-bottom: 30px;
    text-decoration: none;
    padding-left: 620px;
  }

  .itwastobeatitle{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    background-color: aliceblue;
    padding-bottom: 20px;
  }

  .becauseineedto{
    text-align: center;
    font-size: medium;
    background-color: aliceblue;
    margin-top: -55px;
    padding: 15px;
    padding-bottom: 23px;
  }

  .trip{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .trip h4,p{
    grid-column: 2;
    margin-left: -20px;


  }
.trip h4{
    margin-top: 90px;
}
.trip p{
    margin-left:  10px;
    text-shadow: 3px 3px 3px aliceblue;
}
  .tripimg2{
    width: 300px;
    height: auto;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #023047;
    align-items: center;
    justify-items: center;
    grid-column: 1;
    padding: 10px;
    margin: 20px 20px 20px 320px;

  }


  .pleasecenter{
    margin-right: -92px;
  }

  .theend{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #d58234bd;
    border-radius: 15px;
    margin-bottom: 20px;

  }

  .first{
    font-size: 40px;
  }
  .theend2{
    font-size: 50px;
    margin-top: -70px;
    color: aliceblue;
  }
  .theend3{
    font-size: 50px;
    margin-top: -110px;
    color: aliceblue;
  }
  .theend4{
    font-size: 40px;
    margin-top:  -70px;
  }
  .theend5{
    font-size: 60px;
    margin-top: -80px;
    text-shadow: 3px 3px 3px#7f580e;
    color: aliceblue;
  }